<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link href="/css/jquery-ui.min.css" rel="stylesheet">
  <link href="/css/hub.css" rel="stylesheet">
  <script src='/js/jquery.min.js'></script>
  <script src='/js/jquery-ui.min.js'></script>
  <script src='/js/popper.min.js'></script>
  <script src='/js/bootstrap.js'></script>
  <script src='/js/d3.min.js'></script>
  <script src="/js/socket.io.slim.js"></script>
  <script src='/js/angular.min.js'></script>
</head>
