<div class="container">
  <div class="card">
    <div class="card-body p-0">
      <div class="card-title">
        <nav class="navbar  navbar-expand-lg navbar-light bg-light justify-content-between">
          <a class="navbar-brand" href="#">HostName-0</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="navbar-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Link<span class="caret"></span></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" ng-click="hosts.selected.connect()">Create connection</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="card-text" style="white-space: pre-wrap;">
        Description of host
      </div><hr />
      <div class="card-text">
        <div class="row ml-0 mr-0 text-center">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"><b>Remote Host</b></div>
          <div class="col"><b>Moloch Sessions</b></div>
          <div class="col"><b>Suricata Alerts</b></div>
        </div><br>
        <div class="row ml-0 mr-0 text-center">
          <div class="col">192.168.1.1 : <span class="text-secondary">*</span></div>
          <div class="col"><img class="mt-1" src="/svg/arrow-both.svg"></img></div>
          <div class="col">192.168.1.54 : 443</div>
          <div class="col"><span class="badge badge-info">100</span></div>
          <div class="col"><span class="badge badge-info">10</span></div>
        </div>
        <div class="row ml-0 mr-0 text-center">
          <div class="col">192.168.1.1 : <span class="text-secondary">*</span></div>
          <div class="col"><img class="mt-1" src="/svg/arrow-both.svg"></img></div>
          <div class="col">192.168.1.54 : 443</div>
          <div class="col"><span class="badge badge-info">100</span></div>
          <div class="col"><span class="badge badge-info">10</span></div>
        </div>
      </div><br>
    </div>
  </div>
</div>
