<nav class="navbar navbar-dark bg-dark justify-content-between p-0">
  <ul class="navbar-nav flex-column bg-dark w-100">
    <li class="nav-link"><a class="nav-link hub-link pl-2" href="#"><i class="fa fa-binoculars"></i> &nbsp; Investigations</a></li>
    <li class="nav-link"><a class="nav-link hub-link pl-2" href="#"><i class="fa fa-bullseye"></i> &nbsp; Intrusions</a></li>
    <li class="nav-link"><a class="nav-link hub-link pl-2" href="#"><i class="fa fa-podcast"></i> &nbsp; Actors</a></li>
    <li class="nav-link"><a class="nav-link hub-link pl-2" href="#"><i class="fa fa-tv"></i> &nbsp; Hosts</a></li>
    <li class="nav-link"><a class="nav-link hub-link pl-2" href="#"><i class="fa fa-bug"></i> &nbsp; Binaries</a></li>
  </ul>
</nav>
